<!DOCTYPE html>
<head>
    <title>Symptom Tracker</title>
    <link rel="stylesheet" href='static/recommendationStyle.css'>
  </head>
<html>
<head>
    <title>GPT-3 Text Generation</title>
</head>
<body>
    <h1>What specialist would be right for you?</h1>
    
    <form action="https://timefloat-prestoberlin-4000.codio.io/proxy/5000/process_form" method="POST">
        <label for="prompt">Enter a prompt:</label>
        <input type="text" id="prompt" name="prompt" required>
        <br>
        <input type="submit" value="Generate">
    </form>

    {% if generated_text %}
    <p>{{ generated_text }}</p>
    {% endif %}
</body>
</html>
